body {
    width: 100%;
    height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #E6E7EA;
}

.footBlock1 {
    padding-left: 150px;
    padding-top: 100px;
}

.footBlock1 .text-uppercase {
    font-weight: bold;
}

.footBlock2 {
    padding-top: 100px;
    padding-left: 150px;
}

.footBlock3 {
    padding-left: 50px;
    padding-top: 100px;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

.row2>* {
    text-align: left;
}

.footBlock4 {
    padding-left: 150px;
}

.footBlock5 {
    padding-left: 150px;
    padding-right: 150px;
}

.footer-copyright {
    margin-top: 50px;
}